@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background: #F7F4EF;
    color: #1C1A17;
}

::selection {
    background: #F6D6C3;
}

body {
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}
